<h1>Editing workshop</h1>
<%= render 'form' %>
<div class="small-br"></div>
<%= link_to 'Show', @workshop, class: "btn btn-pirate-orange" %>
<%= link_to 'Back', workshops_path, class: "btn btn-pirate-red" %>
