.nested-fields.article-insertion-fields
  = f.input :number
  .article-from-list
    = f.association :article
  = link_to_remove_association "Fjern Artikel Indsættelse", f, class: 'waves-effect waves-light btn red'