<h1>Editing lecture</h1>
<%= render 'form' %>
<div class="small-br"></div>
<%= link_to 'Show', @lecture, class: 'btn btn-pirate-orange waves-effect waves-light' %>
<%= link_to 'Back', @lecture.workshop, class: 'btn btn-pirate-red waves-effect waves-light' %>
