%h1 Editing lecture

= render 'form'

.small-br
= link_to 'Show', @lecture, class: 'btn btn-pirate-orange waves-effect waves-light'
= link_to 'Back', lectures_path, class: 'btn btn-pirate-red waves-effect waves-light'
