%textarea#source.remark-slides
  - body = "#{@lecture.body}"
  - @lecture.articles.each do |article|
    - body << "\r\n\r\n---\r\n\r\n"
    - body << "\r\n\r\n###{article.title}"
    - body << "\r\n\r\n#{article.body}"


  = body