%h1 Editing article

= render 'form'

.small-br
= link_to 'Show', @article, class: 'btn btn-pirate-orange waves-effect waves-light'
= link_to 'Back', articles_path, class: 'btn btn-pirate-red waves-effect waves-light'
