#space-invader{
  z-index: -1;
  position: absolute;
  left: -10em;
  box-shadow:
    0 0 0 1em #A3D9A3,
    0 1em 0 1em #A3D9A3,
    -2.5em 1.5em 0 .5em #A3D9A3,
    2.5em 1.5em 0 .5em #A3D9A3,
    -3em -3em 0 0 #A3D9A3,
    3em -3em 0 0 #A3D9A3,
    -2em -2em 0 0 #A3D9A3,
    2em -2em 0 0 #A3D9A3,
    -3em -1em 0 0 #A3D9A3,
    -2em -1em 0 0 #A3D9A3,
    2em -1em 0 0 #A3D9A3,
    3em -1em 0 0 #A3D9A3,
    -4em 0 0 0 #A3D9A3,
    -3em 0 0 0 #A3D9A3,
    3em 0 0 0 #A3D9A3,
    4em 0 0 0 #A3D9A3,
    -5em 1em 0 0 #A3D9A3,
    -4em 1em 0 0 #A3D9A3,
    4em 1em 0 0 #A3D9A3,
    5em 1em 0 0 #A3D9A3,
    -5em 2em 0 0 #A3D9A3,
    5em 2em 0 0 #A3D9A3,
    -5em 3em 0 0 #A3D9A3,
    -3em 3em 0 0 #A3D9A3,
    3em 3em 0 0 #A3D9A3,
    5em 3em 0 0 #A3D9A3,
    -2em 4em 0 0 #A3D9A3,
    -1em 4em 0 0 #A3D9A3,
    1em 4em 0 0 #A3D9A3,
    2em 4em 0 0 #A3D9A3;

  background: #A3D9A3;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
  transform: rotate(25deg);
}