$headerHeight: 250px;
$toolbarHeight: 64px;

body.shrinkable {
  padding-top: 210px;
}

.shrink-app-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: $headerHeight;
}

.shrink-header-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.shrink-app-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: $toolbarHeight;  
  padding: 0px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .shrink-app-toolbar {
    font-size: 13px;
  }
}

#shrink-large-toolbar {
  position: absolute;
  bottom: 0;    
  transform-origin: left top;  
  margin-bottom: 50px;
  width: 100%;
}

.shrink-small-title,
.shrink-large-title {
  transform-origin: left top;
  white-space: nowrap;  
  overflow: hidden;  
  font-weight: 400;
  line-height: 1.5;  
  position: relative;
}

.shrink-small-title {
  opacity: 0;
}

.shrink-large-title {
  will-change: transform, opacity;
  font-size: 56px;
  font-size: 2em;
}

.shrink-background-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.shrink-background {
  pointer-events: none;
  position: absolute;
  background-size: cover;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: transform, opacity;
}

#shrink-background-back {
  background: linear-gradient(150deg,$pirate-red 15%,$pirate-orange 70%,$pirate-yellow 94%);
  opacity: 0;
}

#shrink-background-front {
  position: absolute; 
  width: 100%;
  height: 100%;
  transform-origin: 0;
  overflow: hidden;
  background: linear-gradient(150deg,$pirate-red 15%,$pirate-orange 70%,$pirate-yellow 94%);
  z-index: 0;
  span {
    height: 180px;
    position: absolute;
    width: 100%;
    &:first-child {
      transform: skewY(-8deg);
      left: -16.66666%;
      top: -80px;
      background: $pirate-red;
    }
    &:nth-child(2) {
      transform: skewY(8deg);
      left: 46.99999%;
      top: -50px;
      background: #E4551E;
    }
    &:nth-child(3) {
      transform: skewY(-8deg);
      bottom: 0px;
      left: 66.66666%;
      background: $pirate-orange;
    }
    &:nth-child(4) {
      transform: skewY(8deg);
      height: 200px;
      bottom: -140px;
      background: #ED7824;
    }
  }
}

