.navbar-fixed
  %nav.pirate-red-bg.nav-extended
    .container
      .nav-wrapper
        %a.brand-logo.white-text{:href => "/"} Carlsberg Pirates
        .right
          %a.button-collapse.hide-on-large-and-up{"data-activates" => "mobile-menu", :href => "#"}
            %i.material-icons menu
        %ul.right.hide-on-med-and-down
          = render partial: 'shared/menu_items'