.navbar-fixed
  %nav.pirate-red-bg.nav-extended
    .container
      .nav-wrapper
        %a.brand-logo.white-text{:href => "/"} Carlsberg Pirates
        %ul.right
          = render partial: 'shared/menu_items'