.navbar-fixed
  %nav.pirate-red-bg.nav-extended
    .container
      .nav-wrapper
        %a.brand-logo.white-text{:href => "/"} Hvaderkode
        .right
          %a.button-collapse.hide-on-large-and-up{"data-activates" => "mobile-menu", :href => "#"}
            %i.material-icons menu
        %ul.right.hide-on-med-and-down
          %li
            %a.search-toggle
              %i.material-icons search
          = render partial: 'shared/menu_items'
  = search_form_for @q do |f|
    .input-field
      = f.search_field :title_or_category_title_cont
      %i.material-icons close
