<div class="navbar-fixed">
  <nav class="pirate-red-bg nav-extended">
    <div class="container">
      <div class="nav-wrapper">
        <a class="brand-logo white-text" href="/">Hvaderkode</a>
        <div class="right">
          <a class="button-collapse hide-on-large-and-up" data-activates="mobile-menu" href="#">
            <i class="material-icons">menu</i>
          </a>
        </div>
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="search-toggle">
              <i class="material-icons">search</i>
            </a>
          </li>
          <%= render partial: 'shared/menu_items' %>
        </ul>
      </div>
    </div>
  </nav>
  <%= search_form_for @q do |f| %>
    <div class="input-field">
      <%= f.search_field :title_or_category_title_cont %>
      <i class="material-icons">close</i>
    </div>
  <% end %>
</div>
