.navbar-fixed
  %nav.pirate-red-bg.nav-extended
    #shrink-app-header.shrink-app-header
      .container.height-100
        .shrink-background-container
          #shrink-background-back.shrink-background
          #shrink-background-front.shrink-background
            %span
            %span
            %span
            %span
        .shrink-header-content
          #shrink-small-toolbar.shrink-app-toolbar
            #shrink-small-title.shrink-small-title
              = yield :title
            %a{:href => "/"} Carlsberg Pirates
            %a.button-collapse.hide-on-large-and-up{"data-activates" => "mobile-menu", :href => "#"}
              %i.material-icons menu
            %ul.right.hide-on-med-and-down
              = render partial: 'shared/menu_items'
          #shrink-large-toolbar.shrink-app-toolbar.shrink-tall
            #shrink-large-title.shrink-large-title 
              = yield :title