%header
  .stripes
    %span
    %span
    %span
    %span
    %span
  .container
    .intro.white-text
      %h1 Hvaderkode.dk har guides til at lære forskelligt tech
      %h4 Kodning til web, spil, musik, IoT og mere
      %br
      = link_to 'Workshops', workshops_path, class: 'btn-large btn-pirate-skyblue waves-effect waves-light'

    .flex-right
      .slanted-code
        .browser-default.card-panel.left-align.light-highlight
          = @markdown.render(@js_example).html_safe
        .right-align
          %btn#run-js-welcome.btn-large.btn-pirate-skyblue.waves-effect.waves-light{href: '#'}
            Kør Koden

%header
  .container
    .row.p3-top.p3-bottom
      .col.s12.m4.offset-m2.right-align
        %h5.accent-header Byg din egen hjemmeside
        Kom i gang med at bruge de vigtigste web teknologier: HTML, CSS og JavaScript.
        Vi har guides, udprint, slides og mere, der kan hjælpe dig forstå og kode web elementer.

      .col.s12.m6
        %img.responsive-img{src: "https://static1.squarespace.com/static/571a021020c64744b886f00f/5720b9b001dbaeb824e45824/5723687540261dcef4d54433/1463258278501/html5-css3-js_logo250.png", width: "200"}
    .flyt-musen-her.light-highlight
      = @markdown.render(@css_example).html_safe
    %a.btn-large.btn-pirate-skyblue.waves-effect.waves-light{href: '/web'}
      Lær HTML og CSS
    %a.btn-large.btn-pirate-red.waves-effect.waves-light{href: 'https://codepen.io/sunenilausen/pen/LdoVPY'}
      Brug i Codepen

#space-invader.hide-on-med-and-down
#pacman.hide-on-med-and-down
