%h1 Editing project

= render 'form'

.small-br
= link_to 'Show', @project, class: 'btn btn-pirate-orange waves-effect waves-light'
= link_to 'Back', projects_path, class: 'btn btn-pirate-red waves-effect waves-light'
