%h1 Editing showcase

= render 'form'

.small-br
= link_to 'Show', @showcase, class: 'btn btn-pirate-orange waves-effect waves-light'
= link_to 'Back', showcases_path, class: 'btn btn-pirate-red waves-effect waves-light'
