.icon {
  i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
  }
  .circle {
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}