pre.highlight{
  color: #f8f8f2;
  font-size: 1.2em;
  text-align: initial;
  max-width: 100%;
  padding: 1em 1.5em;
  margin-bottom: 1.725em;
  overflow: auto;
  word-wrap: normal;
}

$keyword: #e74c3c;
$support: #3498DB;
$constant: #6C71C4;
$tag: #2ecc71;
$comment: #606060;
$string: #f1c40f;

.highlight {
  background: #212121;
  .nc { color: $tag; }
  .ge { font-style: italic; }
  .gs { font-weight: bold; }
  .c { font-style: italic; color: $comment; }
  .cp { font-style: italic; color: $comment; }
  .c1 { font-style: italic; color: $comment; }
  .cs { font-style: italic; color: $comment; }
  .cm { font-style: italic; color: $comment; }
  .o { color: $keyword; }
  .m { color: $constant; }
  .mf { color: $constant; }
  .mi { color: $constant; }
  .mo { color: $constant; }
  .se { color: $constant; }
  .kc { color: $constant; }
  .k { color: $keyword; }
  .kd { color: $keyword; }
  .kn { color: $keyword; }
  .kt { color: $constant; }
  .s { color: $string; }
  .sb { color: $string; }
  .sc { color: $string; }
  .sd { color: $string; }
  .s2 { color: $string; }
  .sh { color: $string; }
  .si { color: $string; }
  .sx { color: $string; }
  .sr { color: $support; }
  .s1 { color: $string; }
  .ss { color: $string; }
  .bp { color: #e67e22; }
  .no { color: $constant; }
  .nt { color: $keyword; }
  .nv { color: #e67e22; }
  .ow { color: $keyword; }
  .n { color: #ecf0f1; }
  .nl { color: $support; }
  .nn { color: #ecf0f1; }
  .nx { color: #ecf0f1; }
  .bp { color: #e67e22; }
  .p { color: #ecf0f1; }
  .na { color: $tag; }
  .nf { color: $tag; }
  .nb { color: $constant}
  &.css {
    .o { font-style: italic; color: $comment; }
  }
}

.light-highlight {
  .highlight {
    padding: 8px 0;
    font-size: 1em;
    margin: 0;
    color: black;
    background: #f8f8f8;
    .n { color: black; }
    .nx { color: black; }
    .p { color: black; }
    .hll { background-color: #ffffcc }
    .c { color: #408080; font-style: italic } /* Comment */
    .err { border: 1px solid #FF0000 } /* Error */
    .k { color: #008000; font-weight: bold } /* Keyword */
    .o { color: #666666 } /* Operator */
    .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
    .cm { color: #408080; font-style: italic } /* Comment.Multiline */
    .cp { color: #BC7A00 } /* Comment.Preproc */
    .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
    .c1 { color: #408080; font-style: italic } /* Comment.Single */
    .cs { color: #408080; font-style: italic } /* Comment.Special */
    .gd { color: #A00000 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #FF0000 } /* Generic.Error */
    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .gi { color: #00A000 } /* Generic.Inserted */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .gt { color: #0044DD } /* Generic.Traceback */
    .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #008000 } /* Keyword.Pseudo */
    .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #B00040 } /* Keyword.Type */
    .m { color: #666666 } /* Literal.Number */
    .s { color: #BA2121 } /* Literal.String */
    .na { color: #7D9029 } /* Name.Attribute */
    .nb { color: #008000 } /* Name.Builtin */
    .nc { color: #0000FF; font-weight: bold } /* Name.Class */
    .no { color: #880000 } /* Name.Constant */
    .nd { color: #AA22FF } /* Name.Decorator */
    .ni { color: #999999; font-weight: bold } /* Name.Entity */
    .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
    .nf { color: #0000FF } /* Name.Function */
    .nl { color: #A0A000 } /* Name.Label */
    .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
    .nt { color: #008000; font-weight: bold } /* Name.Tag */
    .nv { color: #19177C } /* Name.Variable */
    .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mb { color: #666666 } /* Literal.Number.Bin */
    .mf { color: #666666 } /* Literal.Number.Float */
    .mh { color: #666666 } /* Literal.Number.Hex */
    .mi { color: #666666 } /* Literal.Number.Integer */
    .mo { color: #666666 } /* Literal.Number.Oct */
    .sa { color: #BA2121 } /* Literal.String.Affix */
    .sb { color: #BA2121 } /* Literal.String.Backtick */
    .sc { color: #BA2121 } /* Literal.String.Char */
    .dl { color: #BA2121 } /* Literal.String.Delimiter */
    .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
    .s2 { color: #BA2121 } /* Literal.String.Double */
    .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
    .sh { color: #BA2121 } /* Literal.String.Heredoc */
    .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
    .sx { color: #008000 } /* Literal.String.Other */
    .sr { color: #BB6688 } /* Literal.String.Regex */
    .s1 { color: #BA2121 } /* Literal.String.Single */
    .ss { color: #19177C } /* Literal.String.Symbol */
    .bp { color: #008000 } /* Name.Builtin.Pseudo */
    .fm { color: #0000FF } /* Name.Function.Magic */
    .vc { color: #19177C } /* Name.Variable.Class */
    .vg { color: #19177C } /* Name.Variable.Global */
    .vi { color: #19177C } /* Name.Variable.Instance */
    .vm { color: #19177C } /* Name.Variable.Magic */
    .il { color: #666666 } /* Literal.Number.Integer.Long */
  }
}

.preview-highlight {
  .highlight {
    padding: 2px 0;
    font-size: 12px;
    margin: 0;
    color: black;
    background: white;
    .n { color: black; }
    .nx { color: black; }
    .p { color: black; }
    .hll { background-color: #ffffcc }
    .c { color: #408080; font-style: italic } /* Comment */
    .err { border: none } /* Error */
    .k { color: #008000; font-weight: bold } /* Keyword */
    .o { color: #666666 } /* Operator */
    .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
    .cm { color: #408080; font-style: italic } /* Comment.Multiline */
    .cp { color: #BC7A00 } /* Comment.Preproc */
    .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
    .c1 { color: #408080; font-style: italic } /* Comment.Single */
    .cs { color: #408080; font-style: italic } /* Comment.Special */
    .gd { color: #A00000 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #FF0000 } /* Generic.Error */
    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .gi { color: #00A000 } /* Generic.Inserted */
    .go { color: #888888 } /* Generic.Output */
    .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .gt { color: #0044DD } /* Generic.Traceback */
    .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #008000 } /* Keyword.Pseudo */
    .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #B00040 } /* Keyword.Type */
    .m { color: #666666 } /* Literal.Number */
    .s { color: #BA2121 } /* Literal.String */
    .na { color: #7D9029 } /* Name.Attribute */
    .nb { color: #008000 } /* Name.Builtin */
    .nc { color: #0000FF; font-weight: bold } /* Name.Class */
    .no { color: #880000 } /* Name.Constant */
    .nd { color: #AA22FF } /* Name.Decorator */
    .ni { color: #999999; font-weight: bold } /* Name.Entity */
    .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
    .nf { color: #0000FF } /* Name.Function */
    .nl { color: #A0A000 } /* Name.Label */
    .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
    .nt { color: #008000; font-weight: bold } /* Name.Tag */
    .nv { color: #19177C } /* Name.Variable */
    .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mb { color: #666666 } /* Literal.Number.Bin */
    .mf { color: #666666 } /* Literal.Number.Float */
    .mh { color: #666666 } /* Literal.Number.Hex */
    .mi { color: #666666 } /* Literal.Number.Integer */
    .mo { color: #666666 } /* Literal.Number.Oct */
    .sa { color: #BA2121 } /* Literal.String.Affix */
    .sb { color: #BA2121 } /* Literal.String.Backtick */
    .sc { color: #BA2121 } /* Literal.String.Char */
    .dl { color: #BA2121 } /* Literal.String.Delimiter */
    .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
    .s2 { color: #BA2121 } /* Literal.String.Double */
    .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
    .sh { color: #BA2121 } /* Literal.String.Heredoc */
    .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
    .sx { color: #008000 } /* Literal.String.Other */
    .sr { color: #BB6688 } /* Literal.String.Regex */
    .s1 { color: #BA2121 } /* Literal.String.Single */
    .ss { color: #19177C } /* Literal.String.Symbol */
    .bp { color: #008000 } /* Name.Builtin.Pseudo */
    .fm { color: #0000FF } /* Name.Function.Magic */
    .vc { color: #19177C } /* Name.Variable.Class */
    .vg { color: #19177C } /* Name.Variable.Global */
    .vi { color: #19177C } /* Name.Variable.Instance */
    .vm { color: #19177C } /* Name.Variable.Magic */
    .il { color: #666666 } /* Literal.Number.Integer.Long */
  }
}

.card-content {
  .highlight {
    overflow: hidden;
  }
}