// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#doge {
  background-image: url("http://i0.kym-cdn.com/entries/icons/mobile/000/013/564/doge.jpg");
  background-size: cover;
  width: 300px;
}

.redbox {
  background-color: red;
  width: 100px;
  height: 50px;
}
.redbox:hover {
  background-color: blue;
}

.bluebox {
  background-color: blue;
  width: 60px;
  height: 80px;
}
.bluebox:active {
  background-color: green;
}

.editor-preview-side {
  z-index: 9999 !important;
}

.editor-toolbar.fullscreen {
  z-index: 9999 !important;
}

.CodeMirror-fullscreen {
  z-index: 9999 !important;
}

/* Materialize overly specific disable */
.browser-default > ul > li {
  list-style-type: disc !important;
}

.browser-default > ul {
  list-style-type: disc !important;
  padding-left: 40px !important;
}

.editor-preview-side > ul > li {
  list-style-type: disc !important;
}

.editor-preview-side > ul {
  list-style-type: disc !important;
  padding-left: 40px !important;
}

.remark-slide-content > ul > li {
  list-style-type: disc !important;
}

.remark-slide-content > ul {
  list-style-type: disc !important;
  padding-left: 40px !important;
}

.table-of-contents {
  position: fixed;
}