// Place all the styles related to the lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#doge {
  background-image: url("http://i0.kym-cdn.com/entries/icons/mobile/000/013/564/doge.jpg");
  background-size: cover;
  width: 300px;
}

.redbox {
  background-color: red;
  width: 100px;
  height: 50px;
}
.redbox:hover {
  background-color: blue;
}

.editor-preview-side {
  z-index: 9999 !important;
}

.editor-toolbar.fullscreen {
  z-index: 9999 !important;
}

.CodeMirror-fullscreen {
  z-index: 9999 !important;
}