@media only screen and (max-width: 992px) {
  nav {
    .brand-logo {
      left: 0%;
      transform: translateX(0%);
    }
  } 
}

.side-nav {
  padding-top: 15px;
  li {
    a {
      font-size: 22px;
      line-height: 72px;
      height: 72px;
      padding: 0 36px;
    }
  }
}