// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slanted-code {
  overflow: hidden;
  font-size: 16px;
  transform: rotate(-8deg);
  width: 42em;
  .highlight {
    background-color: white !important;
  }
}

header {
  position: relative;
  width: 100%;
}

.front-page {
  #pacman {
    right: 25px;
    top: 900px;
  }
  #space-invader {
    left: -1em;
    top: 750px;
  }

  .flash {
    position: absolute;
    top: 60px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .front-page {
    .intro {
      h1 {
        font-size: 3.5rem;
      }
    }
  }
}

.intro {
  padding-top: 14%;
}

.flyt-musen-her {
  padding: 24px;
  border-radius: 2px;
  width: 70%;
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
}
.flyt-musen-her:hover {
  transition: 3s;
  margin-left: 30%;
}

.flyt-musen-her {
  margin: 0.5rem 0 1rem 0;
}

.flyt-musen-her {
  .highlight {
    background-color: white;
  }
}
