// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slanted-code {
  overflow: hidden;
  font-size: 16px;
  transform: rotate(-8deg);
  width: 42em;
  .highlight {
    background-color: white !important;
  }
}

.stripes {
  top: -80px;
  position: absolute; 
  width: 100%;
  height: 100%;
  transform-origin: 0;
  overflow: hidden;
  background: linear-gradient(150deg,$pirate-red 15%,$pirate-orange 70%,$pirate-yellow 94%);
  transform: skewY(-8deg);
  z-index: -1;
  span {
    height: 190px;
    position: absolute;
    &:first-child {
      width: 33.33333%;
      left: -16.66666%;
      top: 0;
      background: $pirate-red;
    }
    &:nth-child(2) {
      width: 33.33333%;
      top: 0;
      left: 16.66666%;
      background: #E4401E;
    }
    &:nth-child(3) {
      width: 33.33333%;
      left: 49.99999%;
      bottom: auto;
      background: #E4551E;
    }
    &:nth-child(4) {
      width: 33.33333%;
      top: 380px;
      right: -16.66666%;
      background: $pirate-orange;
    }
    &:nth-child(5) {
      width: 33.33333%;
      bottom: 0;
      background: #ED7824;
    }
  }
}

header {
  position: relative;
  width: 100%;
}

.front-page {
  #pacman {
    top: 700px;
  }
  #space-invader {
    top: 750px;
  }

  .flash {
    position: absolute;
    top: 60px;
    width: 100%;
  }
}

.intro {
  padding-top: 14%;
}

.flyt-musen-her {
  padding: 24px;
  border-radius: 2px;
  width: 70%;
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
}
.flyt-musen-her:hover {
  transition: 3s;
  margin-left: 30%;
}

.flyt-musen-her {
  margin: 0.5rem 0 1rem 0;
}

.flyt-musen-her {
  .highlight {
    background-color: white;
  }
}

$headerHeight: 300px;
$toolbarHeight: 64px;

.app-header {
  display: block;
  background: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  height: $headerHeight;
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.header-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.app-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: $toolbarHeight;  
  padding: 0 16px;
  pointer-events: none;
  font-size: 20px;
}

#large-toolbar {
  position: absolute;
  bottom: 0;    
  transform-origin: left top;  
  margin-bottom: 24px;
  margin-bottom: 16px;
  width: 100%;
}

.small-title,
.large-title {
  transform-origin: left top;
  white-space: nowrap;  
  flex: 1;
  flex-basis: 0.000000001px;
  overflow: hidden;  
  font-weight: 400;
  line-height: 1.5;  
  position: relative;
}

.small-title {
  margin-left: 14px;  
  // visibility: hidden;
  opacity: 0;
}

.large-title {
  will-change: transform, opacity;
  font-size: 56px;
  font-size: 2em;
  margin-left: 64px;
}

.icon-button {
  display: inline-block;
  position: relative;  
  padding: 6px;  
  outline: none;
  user-select: none;
  font-size: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
  box-sizing: border-box !important;
  
  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    width: 100%;
    height: 100%;
  }
}

.background-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.background {
  pointer-events: none;
  position: absolute;
  background-size: cover;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: transform, opacity;
}

#background-back {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/mountain-02.jpg);
  background-position: left center;
  opacity: 0;
  // visibility: hidden;
}

#background-front {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/mountain-01.jpg);
  background-position: left center;
}