// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#space-invader{
  position: absolute;
  left: -5px;
  box-shadow:
    0 0 0 1em #A3D9A3,
    0 1em 0 1em #A3D9A3,
    -2.5em 1.5em 0 .5em #A3D9A3,
    2.5em 1.5em 0 .5em #A3D9A3,
    -3em -3em 0 0 #A3D9A3,
    3em -3em 0 0 #A3D9A3,
    -2em -2em 0 0 #A3D9A3,
    2em -2em 0 0 #A3D9A3,
    -3em -1em 0 0 #A3D9A3,
    -2em -1em 0 0 #A3D9A3,
    2em -1em 0 0 #A3D9A3,
    3em -1em 0 0 #A3D9A3,
    -4em 0 0 0 #A3D9A3,
    -3em 0 0 0 #A3D9A3,
    3em 0 0 0 #A3D9A3,
    4em 0 0 0 #A3D9A3,
    -5em 1em 0 0 #A3D9A3,
    -4em 1em 0 0 #A3D9A3,
    4em 1em 0 0 #A3D9A3,
    5em 1em 0 0 #A3D9A3,
    -5em 2em 0 0 #A3D9A3,
    5em 2em 0 0 #A3D9A3,
    -5em 3em 0 0 #A3D9A3,
    -3em 3em 0 0 #A3D9A3,
    3em 3em 0 0 #A3D9A3,
    5em 3em 0 0 #A3D9A3,
    -2em 4em 0 0 #A3D9A3,
    -1em 4em 0 0 #A3D9A3,
    1em 4em 0 0 #A3D9A3,
    2em 4em 0 0 #A3D9A3;

  background: #A3D9A3;
  width: 1em;
  height: 1em;
  overflow: hidden;

  margin: 50px 0 70px 65px;
  transform: rotate(25deg);
}



#pacman {
  position: absolute;
  right: -20px;
  top: 300px;
  width: 0px;
  height: 0px;
  border-right: 160px solid #FFFFA0;
  border-top: 160px solid #FFFFA0;
  border-left: 160px solid transparent;
  border-bottom: 160px solid #FFFFA0;
  border-top-left-radius: 160px;
  border-top-right-radius: 160px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  transform: rotate(-10deg);
}
