@media print {
  .btn-print {
    display: none !important;
  }

  .notice {
    display: none !important;
  }

  .navbar-fixed {
    display: none !important;
  }

  .fixed-action-btn {
    display: none !important;
  }
}