@media print {
  .btn-print {
    display: none !important;
  }

  .notice {
    display: none !important;
  }

  .navbar-fixed {
    display: none !important;
  }

  .fixed-action-btn {
    display: none !important;
  }
  
  .no-print {
    display: none !important;
  }

  .avoid-page-break {
    page-break-inside: avoid !important;
  }

  .page-break {
    page-break-before: always !important;
  }

  // hide scrollbars
  .element { overflow: -moz-scrollbars-none  !important; }
  .element::-webkit-scrollbar { width: 0 !important }
  .element { -ms-overflow-style: none !important; }
}