@media print {
  .btn-print {
    display: none !important;
  }

  .notice {
    display: none !important;
  }

  .navbar-fixed {
    display: none !important;
  }

  .fixed-action-btn {
    display: none !important;
  }
  
  .no-print {
    display: none !important;
  }

  .avoid-page-break {
    page-break-inside: avoid !important;
  }

  .page-break {
    page-break-before: always !important;
  }

  // hide scrollbars
  .element { overflow: -moz-scrollbars-none  !important; }
  .element::-webkit-scrollbar { width: 0 !important; }
  .element { -ms-overflow-style: none !important; }

  code, kbd, pre, samp, p {
    font-size: 11px !important;
  }

  h1 {
    font-size: 40px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 15px !important;
  }

  .article { display: inline-block !important; }
  #pacman { display: none !important; }
  #space-invader { display: none !important; }
}