.flex-right {
  display: flex;
  justify-content: flex-end;
}

body {
  overflow-x: hidden;
}

.container {
 &.subnav {
    padding-top: 48px;
  }
}

.accent-header {
  color: $pirate-orange;
  margin-top: 2em;
  font-size: 30px;
  font-weight: 300;
}

.p3-bottom {
  padding-bottom: 3em;
}

.p3-top {
  padding-top: 3em;
}

.small-br {
  padding: 0.2em;
  width: 100%;
}

.background-container {
  position: relative;
}

.height-100 {
  height: 100%;
}