.flex-right {
  display: flex;
  justify-content: flex-end;
}

.pirate-red {
  background-color: $pirate-red;
}

body {
  overflow-x: hidden;
}

.container {
 &.subnav {
    padding-top: 48px;
  }
}

.main-container{
  height: 100vh;
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
