.flex-right {
  display: flex;
  justify-content: flex-end;
}

.pirate-red {
  background-color: $pirate-red;
}

body {
  overflow-x: hidden;
}

.container {
 &.subnav {
    padding-top: 48px;
  }
}

.main-container{
  height: 100vh;
  width: 80%;
  padding-left: 5%;
  padding-right: 5%;
}

.accent-header {
  color: $pirate-orange;
  margin-top: 2em;
  font-size: 30px;
  font-weight: 300;
}

.p3-bottom {
  padding-bottom: 3em;
}

.p3-top {
  padding-top: 3em;
}