.stripes {
  top: -80px;
  position: absolute; 
  width: 100%;
  height: 100%;
  transform-origin: 0;
  overflow: hidden;
  background: linear-gradient(150deg,$pirate-red 15%,$pirate-orange 70%,$pirate-yellow 94%);
  transform: skewY(-8deg);
  z-index: -1;
  span {
    height: 190px;
    position: absolute;
    &:first-child {
      width: 33.33333%;
      left: -16.66666%;
      top: 0;
      background: $pirate-red;
    }
    &:nth-child(2) {
      width: 33.33333%;
      top: 0;
      left: 16.66666%;
      background: #E4401E;
    }
    &:nth-child(3) {
      width: 33.33333%;
      left: 49.99999%;
      bottom: auto;
      background: #E4551E;
    }
    &:nth-child(4) {
      width: 33.33333%;
      top: 380px;
      right: -16.66666%;
      background: $pirate-orange;
    }
    &:nth-child(5) {
      width: 33.33333%;
      bottom: 0;
      background: #ED7824;
    }
  }
}