// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workshop-card {
  height: 380px;
  img {
    height: 260px;
    overflow: hidden;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
  }
  .card-content {
    max-height: 120px;
    overflow: hidden;
  }
}

.lecture-img {
  padding: 30px !important;
}