// Place all the styles related to the workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workshop-card {
  height: 380px;
  img {
    height: 260px;
    overflow: hidden;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
  }
  .hover-content {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    visibility: hidden;
    position: absolute;    
    width: 100%;
    height: 260px;
    z-index: 1;
    background-color: $pirate-skyblue;
    opacity: 0;
    color: white;
    i {
      font-size: 100px;
    }
  }

  &:hover {
    .hover-content {
      visibility: visible;
      transition: visibility 0s, opacity 0.5s;
      opacity: 0.8;
    }
  }

  &:active {
    .hover-content {
      background-color: $pirate-orange;
      color: white;
    }
  }
  .card-content {
    max-height: 120px;
    overflow: hidden;
  }
}

.lecture-img {
  padding: 30px !important;
}