!!!
%html
  %head
    = render 'layouts/head'
    %meta{:content => "reload", :name => "turbolinks-visit-control"}/
    %script{:src => "https://remarkjs.com/downloads/remark-latest.min.js"}
%body
  = yield
